# used for development
# docker-compose.override.yml is automatically used by docker-compose when no
# option -f is provided

version: '2'

services:
  odoo:
    tty: true
    stdin_open: true
    ports:
      - 8069
      - 8072
    volumes:
      - "data-odoo-pytest-cache:/opt/odoo/.cache"
      - "./odoo/src:/opt/odoo/src"
      - "./odoo/local-src:/opt/odoo/local-src"
      - "./odoo/external-src:/opt/odoo/external-src"
      - "./odoo/songs:/opt/odoo/songs"
      - "./odoo/migration.yml:/opt/odoo/migration.yml"
      - "./odoo/data:/opt/odoo/data"
    environment:
      - MARABUNTA_MODE=sample  # could be 'full' for the db with all the data
      - MARABUNTA_ALLOW_SERIE=True  # should not be set in production

  db:
    ports:
      - 5432

  nginx:
    ports:
      - 80:80

## If you need a CUPS server for `base_report_to_printer`
## See `cups-test-server/README.md`.
  # cups-server:
  #   build: ./cups-test-server/
  #   ports:
  #     - "6631:631"
  #   expose:
  #     - 631
  #   volumes:
  #     - "/tmp/cups-pdf:/var/spool/cups-pdf:rw"
  #   environment:
  #     - CUPS_USER_ADMIN=admin
  #     - CUPS_USER_PASSWORD=secr3t

volumes:
  data-odoo-pytest-cache:
